<ngx-smart-modal #categoryFilter [identifier]="'categoryFilter'"
    customClass="nsm-centered"
    [closable]="false" [dismissable]="true"
    target=".category-modal-anchor"
    (onDismiss)="resetForm()"
>
    <div *ngIf="categoryFilter.hasData()">
        <div class="categoryFilter-container">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <div class="categoryFilter-modal-label">Menu Filter</div>
                    </div>
                 </div>
                <div class="d-flex justify-content-center">
                    <div class="row card-container scroll">
                        <div *ngFor="let filter of categoryFilter.getData().filters">
                            <div *ngIf="filter.isSelected" class="categoryFilter-card-selected" role="button" (click)="selectedFilter(filter, categoryFilter.getData())">
                                {{ filter.name }}
                            </div>
                            <div *ngIf="!filter.isSelected" class="categoryFilter-card-not-selected" role="button" (click)="selectedFilter(filter, categoryFilter.getData())">
                                {{ filter.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>