
.managers-header {
    font-weight: bold;
    font-size: medium;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}   

.manager-view-toggle {
    font-weight: bold;
    font-size: medium;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: rgba(241, 226, 7, 0.87);
    font-weight: bold;
    font-size: smaller;
}
a.hover {
    color: rgba(241, 226, 7, 0.87);
    font-weight: bold;
    font-size: smaller;  
}
a.select {
    color: rgba(241, 226, 7, 0.87);
    font-weight: bold;
    font-size: smaller;
}

.copywrite-label {
    padding-top: 20px;
    color: white;
    font-size: small;
  }