@import "./assets/custom-styles/ngx-smart-modal-custom.scss";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.background-container {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    z-index: 2;
    background-size: cover;
    display: flex;
    background-image: url("./assets/images/starwars-shady-bg.jpg");
}

/* Common scrolling style here */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

body {
    background-color: #212121;
}

/* Not Supported */
@media (max-width: 319px) {
    .modal-anchor {
        display: none;
     }

    .header-container {
        display: none;
    }
    .home-form {
        display: none;
    }
    .nsm-content {
        display: none;
    }
    .menuItemDetail-container {
        display: none;
    }
    .categoryFilter-container {
        display: none;
    }
    .cart-container {
        display: none;
    }
}

/* XS -Small devices (portrait phones, 320px and up) */
@media (min-width: 320px) {
    .modal-anchor {
        position: absolute;
        top: 10%;
        left: 48%;
    }

    .header-container {
        display: block;
    }
    .home-form {
        display: block;
    }
    .header-container {
        display: block;
    }
    .nsm-content {
        display: block;
    }
    .menuItemDetail-container {
        display: block;
    }
    .categoryFilter-container {
        display: block;
    }
    .cart-container {
        display: block;
    }
}

/* S -Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .modal-anchor {
        position: absolute;
        top: 10%;
        left: 48%;
    }

    .header-container {
        display: block;
    }
    .home-form {
        display: block;
    }
    .header-container {
        display: block;
    }
    .nsm-content {
        display: block;
    }
    .menuItemDetail-container {
        display: block;
    }
    .categoryFilter-container {
        display: block;
    }
    .cart-container {
        display: block;
    }
}
 
/* M - Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .modal-anchor {
        position: absolute;
        top: 10%;
        left: 48%;
    }

    .header-container {
        display: block;
    }
    .home-form {
        display: block;
    }
    .header-container {
        display: block;
    }
    .nsm-content {
        display: block;
    }
    .menuItemDetail-container {
        display: block;
    }
    .categoryFilter-container {
        display: block;
    }
    .cart-container {
        display: block;
    }
}
 
/* L - Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .modal-anchor {
        position: absolute;
        top: 10%;
        left: 48%;
    }

    .header-container {
        display: block;
    }
    .home-form {
        display: block;
    }
    .header-container {
        display: block;
    }
    .nsm-content {
        display: block;
    }
    .menuItemDetail-container {
        display: block;
    }
    .categoryFilter-container {
        display: block;
    }
    .cart-container {
        display: block;
    }
}
 
/* XL - Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .modal-anchor {
        position: absolute;
        top: 10%;
        left: 48%;
    }

    .header-container {
        display: block;
    }
    .home-form {
        display: block;
    }
    .header-container {
        display: block;
    }
    .nsm-content {
        display: block;
    }
    .menuItemDetail-container {
        display: block;
    }
    .categoryFilter-container {
        display: block;
    }
    .cart-container {
        display: block;
    }
}