@import "./assets/custom-styles/ngx-smart-modal-custom.scss";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Common scrolling style here */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

body {
    background-color: #212121;
}

/* Not Supported */
@media (max-width: 319px) {
    .viewport-height {
        display: none;
    }
    .manufacturer-scroll {
        display: none;
    }
    .menuItems-scroll {
        display: none;
    }
    .background {
        display: none;
    }
    .category-modal-anchor {
        display: none;
    }
    .menuItem-modal-anchor {
        display: none;
    }
    .cart-modal-anchor {
        display: none;
    }
    .header-container {
        display: none;
    }
    .home-container {
        display: none;
    }
    .managers-container {
        display: none;
    }
    .nsm-content {
        display: none;
    }
    .menuItemDetail-container {
        display: none;
    }
    .categoryFilter-container {
        display: none;
    }
    .cart-container {
        display: none;
    }
    .single-XS-menuItem-card {
        display: none;
    }
    .single-M-menuItem-card {
        display: none;
    }
    .single-menuItem-card {
        display: none;
    } 
    .double-XS-menuItem-card {
        display: none;
    }
    .double-M-menuItem-card {
        display: none;
    }
    .double-menuItem-card {
        display: none;
    }
    .menuItem-XS-card-header-text {
        display: none;
    }
    .menuItem-XS-card-text {
        display: none;
    }
    .menuItem-NotXS-card-header-text {
        display: none;
    }
    .menuItem-NotXS-card-text {
        display: none;
    }
}

/* XS -Small devices (portrait phones, 320px and up) */
@media (min-width: 320px) {
    .home-viewport-height {
        min-height: 65vh;
    }
    .managers-viewport-height {
        min-height: 68vh;
    }
    .manufacturer-scroll {
        max-height: 52vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .menuItems-scroll {
        max-height: 57vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .managers-scroll {
        max-height: 67vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .background {
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0;
        z-index: 2;
        background-size: cover;
        display: flex;
        background-image: url("./assets/images/starwars-shady-bg.jpg");
    }
    .category-modal-anchor {
        position: absolute;
        left: 10px;
    }
    .menuItem-modal-anchor {
        position: absolute;
        left: 48%;
    }
    .cart-modal-anchor {
        position: absolute;
        right: 10px;
    }
    .header-container {
        display: block;
    }
    .home-container  {
        display: block;
    }
    .managers-container {
        display: block;
    }
    .header-container {
        display: block;
    }
    .nsm-content {
        display: block;
    }
    .menuItemDetail-container {
        display: block;
    }
    .categoryFilter-container {
        display: block;
    }
    .cart-container {
        display: block;
    }
    .single-XS-menuItem-card {
        display: block;
    }
    .single-M-menuItem-card {
        display: none;
    }
    .single-menuItem-card {
        display: none;
    }  
    .double-XS-menuItem-card {
        display: block;
    }
    .double-M-menuItem-card {
        display: none;
    }
    .double-menuItem-card {
        display: none;
    }
    .menuItem-XS-card-header-text {
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 130px;
        display: block;
        font-size: small;
    }
    .menuItem-XS-card-text {
        display: block;
        padding-left: 10px;
        padding-bottom: 5px;
        font-size: xx-small;
    }
    .menuItem-NotXS-card-header-text {
        display: none;
    }
    .menuItem-NotXS-card-text {
        display: none;
    }
}

/* S -Small devices (landscape phones, 576px and up)  Not Supported */
@media (min-width: 576px) {
    .viewport-height {
        display: none;
    }
    .manufacturer-scroll {
        display: none;
    }
    .menuItems-scroll {
        display: none;
    }
    .background {
        display: none;
    }
    .header-container {
        display: none;
    }
    .home-container {
        display: none;
    }
    .managers-container {
        display: none;
    }
    .nsm-content {
        display: none;
    }
    .menuItemDetail-container {
        display: none;
    }
    .categoryFilter-container {
        display: none;
    }
    .cart-container {
        display: none;
    }
    .single-XS-menuItem-card {
        display: none;
    }
    .single-M-menuItem-card {
        display: none;
    }
    .single-menuItem-card {
        display: none;
    } 
    .double-XS-menuItem-card {
        display: none;
    }
    .double-M-menuItem-card {
        display: none;
    }
    .double-menuItem-card {
        display: none;
    }
    .menuItem-XS-card-header-text {
        display: none;
    }
    .menuItem-XS-card-text {
        display: none;
    } 
    .menuItem-NotXS-card-header-text {
        display: none;
    }
    .menuItem-NotXS-card-text {
        display: none;
    }
}
 
/* M - Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .home-viewport-height {
        min-height: 75vh;
    }
    .managers-viewport-height {
        min-height: 75vh;
    }
    .manufacturer-scroll {
        max-height: 55vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .menuItems-scroll {
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .managers-scroll {
        max-height: 63vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .background {
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0;
        z-index: 2;
        background-size: cover;
        display: flex;
        background-image: url("./assets/images/starwars-shady-bg.jpg");
    }
    .category-modal-anchor {
        position: absolute;
        left: 180px;
    }
    .menuItem-modal-anchor {
        position: absolute;
        left: 46%;
    }
    .cart-modal-anchor {
        position: absolute;
        right: 240px;
    }
    .header-container {
        display: block;
    }
    .home-container {
        display: block;
    }
    .managers-container {
        display: block;
    }
    .header-container {
        display: block;
    }
    .nsm-content {
        display: block;
    }
    .menuItemDetail-container {
        display: block;
    }
    .categoryFilter-container {
        display: block;
    }
    .cart-container {
        display: block;
    }
    .single-XS-menuItem-card {
        display: none;
    }
    .single-M-menuItem-card {
        display: block;
    }
    .single-menuItem-card {
        display: none;
    } 
    .double-XS-menuItem-card {
        display: none;
    }
    .double-M-menuItem-card {
        display: block;
    }
    .double-menuItem-card {
        display: none;
    }
    .menuItem-XS-card-header-text {
        display: none;
    }
    .menuItem-XS-card-text {
        display: none;
    }
    .menuItem-NotXS-card-header-text {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        font-size: medium;
    }
    .menuItem-NotXS-card-text {
        display: block;
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: small;
    }
}
 
/* L - Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .home-viewport-height {
        min-height: 65vh;
    }
    .managers-viewport-height {
        min-height: 65vh;
    }
    .manufacturer-scroll {
        max-height: 55vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .menuItems-scroll {
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .managers-scroll {
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .background {
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0;
        z-index: 2;
        background-size: cover;
        display: flex;
        background-image: url("./assets/images/starwars-shady-bg.jpg");
    }
    .category-modal-anchor {
        position: absolute;
        left: 180px;
    }
    .menuItem-modal-anchor {
        position: absolute;
        left: 47%;
    }
    .cart-modal-anchor {
        position: absolute;
        right: 240px;
    }
    .header-container {
        display: block;
    }
    .home-container {
        display: block;
    }
    .managers-container {
        display: block;
    }
    .header-container {
        display: block;
    }
    .nsm-content {
        display: block;
    }
    .menuItemDetail-container {
        display: block;
    }
    .categoryFilter-container {
        display: block;
    }
    .cart-container {
        display: block;
    }
    .single-XS-menuItem-card {
        display: none;
    }
    .single-M-menuItem-card {
        display: none;
    }
    .single-menuItem-card {
        display: block;
    }
    .double-XS-menuItem-card {
        display: none;
    }
    .double-M-menuItem-card {
        display: none;
    }
    .double-menuItem-card {
        display: block;
    }
    .menuItem-XS-card-header-text {
        display: none;
    }
    .menuItem-XS-card-text {
        display: none;
    }
    .menuItem-NotXS-card-header-text {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        font-size: large;
    }
    .menuItem-NotXS-card-text {
        display: block;
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: medium;
    }
}
 
/* XL - Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .home-viewport-height {
        min-height: 75vh;
    }
    .managers-viewport-height {
        min-height: 65vh;
    }
    .manufacturer-scroll {
        max-height: 55vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .menuItems-scroll {
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .managers-scroll {
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .background {
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0;
        z-index: 2;
        background-size: cover;
        display: flex;
        background-image: url("./assets/images/starwars-shady-bg.jpg");
    }
    .category-modal-anchor {
        position: absolute;
        left: 235px;
    }
    .menuItem-modal-anchor {
        position: absolute;
        left: 48%;
    }
    .cart-modal-anchor {
        position: absolute;
        right: 300px;
    }
    .header-container {
        display: block;
    }
    .home-container {
        display: block;
    }
    .managers-container {
        display: block;
    }
    .header-container {
        display: block;
    }
    .nsm-content {
        display: block;
    }
    .menuItemDetail-container {
        display: block;
    }
    .categoryFilter-container {
        display: block;
    }
    .cart-container {
        display: block;
    }
    .single-XS-menuItem-card {
        display: none;
    }
    .single-M-menuItem-card {
        display: none;
    }
    .single-menuItem-card {
        display: block;
    }
    .double-XS-menuItem-card {
        display: none;
    }
    .double-M-menuItem-card {
        display: none;
    }
    .double-menuItem-card {
        display: block;
    }
    .menuItem-XS-card-header-text {
        display: none;
    }
    .menuItem-XS-card-text {
        display: none;
    }
    .menuItem-NotXS-card-header-text {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        font-size: large;
    }
    .menuItem-NotXS-card-text {
        display: block;
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: medium;
    }
}