@import "./assets/custom-styles/ngx-smart-modal-custom.scss";

$dialog-position-top: 20%;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.background-container {
    min-height: 100%;
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    top: 100;
    z-index: 2;
    background-size: cover;
    display: flex;
    align-items: top;
    background-image: url("./assets/images/starwars-shady-bg.jpg");
}

/* Common scrolling style here */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

.menubar-label {
    padding-top: 3px;
    color: white;
    font-size: large;
    font-weight: bolder;
}

/* Not Supported */
@media (max-width: 319px) {
    .background-XS-container {
        display: none;
    }
    .background-S-container {
        display: none;
    }
    .background-M-container {
        display: none;
    }
    .background-L-container {
        display: none;
    }
    .background-XL-container {
        display: none;
    }

    .categoryFilter-XS-container {
        display: none;
    }
    .categoryFilter-M-container {
        display: none;
    }
    .categoryFilter-L-container {
        display: none;
    }
    .categoryFilter-XL-container {
        display: none;
    }
    
    .menuItemDetail-XS-container {
        display: none;
    }
    .menuItemDetail-M-container {
        display: none;
    }
    .menuItemDetail-L-container {
        display: none;
    }
    .menuItemDetail-XL-container {
        display: none;
    }

    .cart-XS-container {
        display: none;
    }
    .cart-M-container {
        display: none;
    }
    .cart-L-container {
        display: none;
    }
    .cart-XL-container {
        display: none;
    }
}

/* XS -Small devices (portrait phones, 320px and up) */
@media (min-width: 320px) {
    .background-XS-container {
        display: block;
    }
    .background-S-container {
        display: none;
    }
    .background-M-container {
        display: none;
    }
    .background-L-container {
        display: none;
    }
    .background-XL-container {
        display: none;
    }

    .categoryFilter-XS-container {
        display: block;
    }
    .categoryFilter-M-container {
        display: none;
    }
    .categoryFilter-L-container {
        display: none;
    }
    .categoryFilter-XL-container {
        display: none;
    }
    
    .menuItemDetail-XS-container {
        display: block;
    }
    .menuItemDetail-M-container {
        display: none;
    }
    .menuItemDetail-L-container {
        display: none;
    }
    .menuItemDetail-XL-container {
        display: none;
    }

    .cart-XS-container {
        display: block;
    }
    .cart-M-container {
        display: none;
    }
    .cart-L-container {
        display: none;
    }
    .cart-XL-container {
        display: none;
    }
}

/* S -Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .background-XS-container {
        display: none;
    }
    .background-S-container {
        display: block;
        padding-top: 80px;
        font-size: large;
        font-weight: bolder;
    }
    .background-M-container {
        display: none;
    }
    .background-L-container {
        display: none;
    }
    .background-XL-container {
        display: none;
    }

    .categoryFilter-XS-container {
        display: none;
    }
    .categoryFilter-M-container {
        display: none;
    }
    .categoryFilter-L-container {
        display: none;
    }
    .categoryFilter-XL-container {
        display: none;
    }
    
    .menuItemDetail-XS-container {
        display: none;
    }
    .menuItemDetail-M-container {
        display: none;
    }
    .menuItemDetail-L-container {
        display: none;
    }
    .menuItemDetail-XL-container {
        display: none;
    }

    .cart-XS-container {
        display: none;
    }
    .cart-M-container {
        display: none;
    }
    .cart-L-container {
        display: none;
    }
    .cart-XL-container {
        display: none;
    }
}
 
/* M - Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .background-XS-container {
        display: none;
    }
    .background-S-container {
        display: none;
    }
    .background-M-container {
        display: block;
    }
    .background-L-container {
        display: none;
    }
    .background-XL-container {
        display: none;
    }

    .categoryFilter-XS-container {
        display: none;
    }
    .categoryFilter-M-container {
        display: block;
    }
    .categoryFilter-L-container {
        display: none;
    }
    .categoryFilter-XL-container {
        display: none;
    }
    
    .menuItemDetail-XS-container {
        display: none;
    }
    .menuItemDetail-M-container {
        display: block;
    }
    .menuItemDetail-L-container {
        display: none;
    }
    .menuItemDetail-XL-container {
        display: none;
    }

    .cart-XS-container {
        display: none;
    }
    .cart-M-container {
        display: block;
    }
    .cart-L-container {
        display: none;
    }
    .cart-XL-container {
        display: none;
    }
}
 
/* L - Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .background-XS-container {
        display: none;
    }
    .background-S-container {
        display: none;
    }
    .background-M-container {
        display: none;
    }
    .background-L-container {
        display: block;
    }
    .background-XL-container {
        display: none;
    }

    .categoryFilter-XS-container {
        display: none;
    }
    .categoryFilter-M-container {
        display: none;
    }
    .categoryFilter-L-container {
        display: block;
    }
    .categoryFilter-XL-container {
        display: none;
    }
    
    .menuItemDetail-XS-container {
        display: none;
    }
    .menuItemDetail-M-container {
        display: none;
    }
    .menuItemDetail-L-container {
        display: block;
    }
    .menuItemDetail-XL-container {
        display: none;
    }

    .cart-XS-container {
        display: none;
    }
    .cart-M-container {
        display: none;
    }
    .cart-L-container {
        display: block;
    }
    .cart-XL-container {
        display: none;
    }
}
 
/* XL - Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .background-XS-container {
        display: none;
    } 
    .background-S-container {
        display: none;
    }
    .background-M-container {
        display: none;
    }
    .background-L-container {
        display: none;
    }
    .background-XL-container {
        display: block;
    }

    .categoryFilter-XS-container {
        display: none;
    }
    .categoryFilter-M-container {
        display: none;
    }
    .categoryFilter-L-container {
        display: none;
    }
    .categoryFilter-XL-container {
        display: block;
    }
    
    .menuItemDetail-XS-container {
        display: none;
    }
    .menuItemDetail-M-container {
        display: none;
    }
    .menuItemDetail-L-container {
        display: none;
    }
    .menuItemDetail-XL-container {
        display: block;
    }

    .cart-XS-container {
        display: none;
    }
    .cart-M-container {
        display: none;
    }
    .cart-L-container {
        display: none;
    }
    .cart-XL-container {
        display: block;
    }
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
