<ngx-smart-modal #cart [identifier]="'cart'"
    customClass="nsm-centered"
    [closable]="false" [dismissable]="true"
    target=".cart-modal-anchor"
    (onDismiss)="resetForm()"
>
   <div *ngIf="cart.hasData()">
      <div class="cart-container">
         <div class="ticket-scrollview">
            <div *ngFor="let cartItem of cart.getData().cartItems">
               {{ cartItem.name }}
               {{ cartItem.quantity }}
               {{ cartItem.adjustedPrice }}
            </div>
         </div>     
      </div>
   </div>
</ngx-smart-modal>