.cart-container {
    width: 250px;
    height: 489px;
    background-color: black;
    overflow: hidden;
}

.cart-scrollview {
    width: 235px;
    height: 280px;
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 7px;
    margin-bottom: 0px;
    direction: ltr;
    position: absolute;
    border-color: transparent;
    overflow-y: overlay;
}

.cart-counter-label {
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    color: rgba(0, 0, 0, 0.75);
    background-color: white;
    border-radius: 7px;
    font-weight: bolder;
    text-align: center;
  }

  .cart-card-header-label {
    background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
    background-size: auto 400%;
    background-position: 100% 100%;
    transition: background-position 0.2s;
    height: 36px;
  }

  .cart-card-totaler-label {
    margin-top: 290px;
    height: 71px;
  }

  .cart-submit-btn {  
    height: 55px;
    width: 250px;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 37px;
    padding-top: 18px;
    text-align: center;
    color: white;
    background-color: green;
  }

  .cart-card {
    background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
    background-size: auto 400%;
    background-position: 100% 100%;
    transition: background-position 0.2s;
    height: 70px;
    width: 224px;
  }

  .card-title {
    font-size: large;
    font-weight: bolder;
    margin-left: 15px;
    margin-right: 15px;
  }

  .card-details {
    font-size: medium;
    font-weight: bolder;
    margin-left: 15px;
    margin-right: 15px;
  }

  .card-price {
    font-size: medium;
    font-weight: bolder;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .cart-number-label {
    color: white;
    font-size: small;
    font-weight: bold;
  }

  .cart-card-topline-label {
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .cart-card-bottomline-label {
    font-size: small;
    font-weight: bold;
  }

  .cart-sub-total-label {
    font-size: medium;
    font-weight: bold;
  }

  .cart-sub-total-amount-label {
    font-size: medium;
    font-weight: bold;
  }
  
  .cart-tax-label {
    font-size: medium;
    font-weight: bold;
  }

  .cart-tax-amount-label {
    font-size: medium;
    font-weight: bold;
  }

  .cart-total-label {
    font-size: large;
    font-weight: bolder;
  }

  .cart-total-amount-label {
    font-size: large;
    font-weight: bolder;
  }

  .cart-totals-label {
    color: black;
    background-color: white;
  }