a {
    color: rgba(241, 226, 7, 0.87);
    font-weight: bold;
}
a.hover {
    color: rgba(241, 226, 7, 0.87);
    font-weight: bold;
}
a.select {
    color: rgba(241, 226, 7, 0.87);
    font-weight: bold;
}

.card, .card-body, .card-header, .list-group-item { 
    background-color: transparent;
}
  
.card  {
    border-top: 1px solid rgba(241, 226, 7, 0.87);
    border-left: 1px solid rgba(241, 226, 7, 0.87);
    border-right: 1px solid rgba(241, 226, 7, 0.87);
    border-bottom: 1px solid rgba(241, 226, 7, 0.87);
}