<div class="container">
    <div class="row card-container managers-scroll">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let manager of managers;trackBy:trackbyService.manager">
            <div class="card mb-2">
                <div class="card-header">
                    <a [routerLink]="['/manager',manager.id,'details']">
                        {{ manager.name }}
                    </a>
                </div>
                <div class="card-body">
                    <div class="pull-left card-body-left">
                        <div class="card-body-content">Address</div>
                    </div>
                    <div class="pull-left">
                        <div class="card-body-content">Phone</div>
                    </div>
                    <div class="pull-left">
                        <div class="card-body-content">Age</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!managers.length">
            No Records Found
        </div>
    </div>
</div>