.toggle-btn{
    color: white;
}

.sidenav-slideout {
    font-weight: bold;
    color: white;
    background-color: #212121;
}

.menubar-label {
    padding-top: 3px;
    color: white;
    font-size: large;
    font-weight: bolder;
}