<mat-toolbar color="black">
    <mat-toolbar-row>
        <div class="background-XS-container">
            <button mat-icon-button toggle-btn>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
        </div>
        <div class="background-M-container">
            <button mat-icon-button toggle-btn>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
        </div>

        <div class="background-L-container">
            <div *ngIf="onHomePage == true">
                <div class="menubar-L-label" mat-button [routerLink]="'/manager'" (click)="toggleRouteOption()">Manager</div>
            </div>
            <div *ngIf="onHomePage == false">
                <div class="menubar-L-label" mat-button [routerLink]="'/home'" (click)="toggleRouteOption()">Home</div>
            </div>
        </div>
        <div class="background-XL-container">
            <div *ngIf="onHomePage == true">
                <div class="menubar-XL-label" mat-button [routerLink]="'/manager'" (click)="toggleRouteOption()">Manager</div>
            </div>
            <div *ngIf="onHomePage == false">
                <div class="menubar-XL-label" mat-button [routerLink]="'/home'" (click)="toggleRouteOption()">Home</div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
        <a mat-list-item [routerLink]="'/home'" (click)="sidenav.toggle()">Home</a>
        <a mat-list-item [routerLink]="'/manager'" (click)="sidenav.toggle()">Manager</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>