.toggle-btn{
    color: white;
}

.sidenav-slideout {
    font-weight: bold;
    color: white;
    background-color: #212121;
}

.menubar-label {
    padding-top: 3px;
    color: white;
    font-size: large;
    font-weight: bolder;
}

.mat-sidenav-content {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.app-title {
    padding-left: 20px;
    font-size: medium;
    font-weight: bold;
    color: rgba(241, 226, 7, 0.87);
}