.categoryFilter-modal-anchor {
    top: 0px;
    left: 0px;
}

.categoryFilter-container {
    width: 250px;
    height: 462px;
    background-color: black;
    overflow: hidden;
}

.categoryFilter-card-header-label {
    background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
    background-size: auto 400%;
    background-position: 100% 100%;
    transition: background-position 0.2s;
    height: 30px;
  }

.categoryFilter-scrollview {
    width: 235px;
    height: 360px;
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 7px;
    margin-bottom: 0px;
    direction: rtl;
    position: absolute;
    border-color: transparent;
    overflow-y: overlay;
}

.categoryFilter-card-selected {
    position: relative;
    height: 51px;
    width: 224px;
    padding-top: 17px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    background: rgba(241, 226, 7, 0.87);
}

.categoryFilter-card-not-selected {
    position: relative;
    height: 51px;
    width: 224px;
    padding-top: 17px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
    background-size: auto 400%;
    background-position: 100% 100%;
    transition: background-position 0.2s;
}

.categoryFilter-filter-btn {
    height: 67px;
    width: 250px;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 365px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 24px;
    background-color: green;
  }

  .categoryFilter-modal-label {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    color: rgba(0, 0, 0, 0.75);
    background-color: white;
    border-radius: 7px;
    font-weight: bolder;
    text-align: center;
  }