<ngx-smart-modal #menuItemDetail [identifier]="'menuItemDetail'"
    customClass="nsm-centered"
    [closable]="false" [dismissable]="true"
    target=".menuItem-modal-anchor"
    (onDismiss)="resetForm()"
>
    <div *ngIf="menuItemDetail.hasData()">
        <div class="menuItemDetail-container">
            <div class="container"> 
                <div class="d-flex justify-content-between">
                    <div class="menuItemDetail-title">{{ menuItemDetail.getData().name }}</div>
                    <div class="menuItemDetail-help">Click image for details</div>
                 </div>               
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="menuItemDetail-card-pic-text">
                            <img class="menuItemDetail-pic" src="../../../assets/images/menuItem-001.jpg">
                        </div>
                    </div> 
                </div>
                <div class="d-flex justify-content-center">
                    <div class="row menuItemDetail-options card-container scroll">
                        <div *ngFor="let option of menuItemDetail.getData().menuItemOptions">
                            <div *ngIf="option.isSelected" class="menuItemDetail-card-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                                {{ option.name }}
                            </div>
                            <div *ngIf="!option.isSelected" class="menuItemDetail-card-not-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                                {{ option.name }}
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="menuItemDetail-option-totaler">
                            <div class="d-flex flex-column">
                                <div class="d-flex">
                                   <div class="p-2 flex-fill">Total:</div>
                                   <div class="p-2 mr-auto">100.00 cr</div>
                                </div>
                             </div>
                         </div>
                    </div> 
                </div>
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="menuItemDetail-submit-btn" role="button" (click)="submitMenuItemDetail(menuItemDetail.getData())">Select</div>
                    </div> 
                </div>
            </div>
        </div>
    </div>




    <!-- <div *ngIf="menuItemDetail.hasData()">
        <div class="menuItemDetail-XS-container">
            <div class="row">
                <div class="col-12">
                    <div class="menuItemDetail-XS-title">{{ menuItemDetail.getData().name }}</div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="menuItemDetail.getData().isShowPic == true">
                    <div class="col-12" (click)="toggleShowPic(menuItemDetail.getData())">
                        <img src="../../../assets/images/menuItem-001.jpg" style="padding-left:23px;width:210px;height:157px;">
                    </div>
                    <div class="menuItemDetail-click-for-pic-or-details">Click Image for Details</div>
                </div>
                <div *ngIf="menuItemDetail.getData().isShowPic == false">
                    <div class="menuItemDetail-XS-Details">
                        <div class="container" (click)="toggleShowPic(menuItemDetail.getData())">
                            <div class="row">
                                <div class="col-6">A</div>
                                <div class="col-6">B</div>     
                            </div>
                            <div class="row">
                                <div class="col-6">C</div>
                                <div class="col-6">D</div>
                            </div>
                            <div class="row">
                                <div class="col-6">E</div>
                                <div class="col-6">F</div>
                            </div>
                            <div class="row">
                                <div class="col-6">G</div>
                                <div class="col-6">H</div>
                            </div>
                            <div class="row">
                                <div class="col-6">I</div>
                                <div class="col-6">J</div>
                            </div>
                            <div class="row">
                                <div class="col-6">K</div>
                                <div class="col-6">L</div>     
                            </div>
                            <div class="row">
                                <div class="col-6">M</div>
                                <div class="col-6">N</div>
                            </div>
                            <div class="row">
                                <div class="col-6">O</div>
                                <div class="col-6">P</div>
                            </div>
                        </div>
                    </div>
                    <div class="menuItemDetail-click-for-pic-or-details">Click Details for Image</div>
                </div>
            </div>
            <div class="menuItemDetail-XS-options-label">Options</div>
            <div class="menuItemDetail-XS-options-scrollview">
                <div *ngFor="let option of menuItemDetail.getData().menuItemOptions">
                    <div *ngIf="option.isSelected" class="menuItemDetail-XS-card-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                        {{ option.name }}
                    </div>
                    <div *ngIf="!option.isSelected" class="menuItemDetail-XS-card-not-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                        {{ option.name }}
                    </div>
                </div>
            </div>
            <div class="menuItemDetail-XS-adjustedCost">
                <div class="d-flex flex-column">
                    <div class="menuItemDetail-totals-label d-flex">
                        <div class="p-2 flex-fill"><div class="menuItemDetail-sub-total-label">Sub Total:</div></div>
                        <div class="p-2 mr-auto"><div class="menuItemDetail-sub-total-amount-label">9,904,100.00 cr</div></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="menuItemDetail-XS-btns-block"> 
                    <div class="menuItemDetail-cancel-btn" role="button" (click)="cancel()">Cancel</div>
                    <div *ngIf="menuItemDetail.getData().isEdit == false" class="menuItemDetail-add-edit-btn" role="button" (click)="addMenuItemToCart(menuItemDetail.getData())">Add</div>
                    <div *ngIf="menuItemDetail.getData().isEdit == true" class="menuItemDetail-add-edit-btn" role="button" (click)="addMenuItemToCart(menuItemDetail.getData())">Edit</div>
                </div>
            </div>
        </div>
        <div class="menuItemDetail-container">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <div class="row">
                            <div class="menuItemDetail-title">{{ menuItemDetail.getData().name }}</div>
                        </div>
                        <div class="row">
                            <img src="../../../assets/images/menuItem-001.jpg" style="padding-top:2px;padding-left:10px;width:370px;height:300px;">
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">A</div>
                                    <div class="col-6">B</div>     
                                </div>
                                <div class="row">
                                    <div class="col-6">C</div>
                                    <div class="col-6">D</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">E</div>
                                    <div class="col-6">F</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">G</div>
                                    <div class="col-6">H</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">I</div>
                                    <div class="col-6">J</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">K</div>
                                    <div class="col-6">L</div>     
                                </div>
                                <div class="row">
                                    <div class="col-6">M</div>
                                    <div class="col-6">N</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">O</div>
                                    <div class="col-6">P</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="menuItemDetail-options-label">Options</div>
                        <div class="menuItemDetail-options-scrollview">
                            <div *ngFor="let option of menuItemDetail.getData().menuItemOptions">
                                <div *ngIf="option.isSelected" class="menuItemDetail-card-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                                    {{ option.name }}
                                </div>
                                <div *ngIf="!option.isSelected" class="menuItemDetail-card-not-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                                    {{ option.name }}
                                </div>
                            </div>
                        </div>
                        <div class="menuItemDetail-adjustedCost">
                            <div class="d-flex flex-column">
                                <div class="menuItemDetail-totals-label d-flex">
                                    <div class="p-2 flex-fill"><div class="menuItemDetail-sub-total-label">Sub Total:</div></div>
                                    <div class="p-2 mr-auto"><div class="menuItemDetail-sub-total-amount-label">9,904,100.00 cr</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="menuItemDetail-btns-block"> 
                            <div class="menuItemDetail-cancel-btn" role="button" (click)="cancel()">Cancel</div>
                            <div *ngIf="menuItemDetail.getData().isEdit == false" class="menuItemDetail-add-edit-btn" role="button" (click)="addMenuItemToCart(menuItemDetail.getData())">Add</div>
                            <div *ngIf="menuItemDetail.getData().isEdit == true" class="menuItemDetail-add-edit-btn" role="button" (click)="editMenuItemToCart(menuItemDetail.getData())">Edit</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</ngx-smart-modal>