.scroll {
  max-height: 232px;
  overflow-y: auto;
}

.menuItemDetail-container {
  width: 275px;
  height: 306px;
  background-color: black;
}

.menuItemDetail-title {
  padding-top: 5px;
  color: white;
  font-size: small;
  font-weight: bold;
}

.menuItemDetail-options {
  padding-top: 5px;
  height: 179px;
}

.menuItemDetail-card-selected {
  height: 48px;
  width: 247px;
  padding-top: 14px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: black;
  background: rgba(241, 226, 7, 0.87);
}

.menuItemDetail-card-not-selected {
  height: 48px;
  width: 247px;
  padding-top: 14px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: white;
  background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
  background-size: auto 400%;
  background-position: 100% 88%;
  transition: background-position 0.2s;
}

.menuItemDetail-option-totaler{
  height: 35px;
  width: 275px;
  font-weight: bolder;
  font-size: large;
  color: black;
  background: white;
}

.menuItemDetail-submit-btn {
  height: 67px;
  width: 275px;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 24px;
  background-color: green;
}














/* 
.menuItemDetail-XS-container {
    width: 235px;
    height: 511px;
    color: white;
    background-color: black;
}

.menuItemDetail-XS-title {
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: medium;
    font-weight: bolder;
    min-height: 30;
}

.menuItemDetail-XS-Details {
    padding-left: 10px;
    height: 157px;
}

.menuItemDetail-click-for-pic-or-details {
    padding-left: 25px;
    color: rgba(241, 226, 7, 0.87);
    font-size: smaller;
    font-weight: bold;
}

.menuItemDetail-XS-options-scrollview {
    width: 220px;
    height: 172px;
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 0px;
    margin-bottom: 0px;
    direction: rtl;
    position: absolute;
    border-color: transparent;
    overflow-y: overlay;
}

.menuItemDetail-XS-card-selected {
    position: relative;
    height: 52px;
    width: 207px;
    padding-top: 17px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: white;
    background: rgba(241, 226, 7, 0.87);
}

.menuItemDetail-XS-card-not-selected {
    position: relative;
    height: 52px;
    width: 207px;
    padding-top: 17px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: white;
    background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
    background-size: auto 400%;
    background-position: 100% 100%;
    transition: background-position 0.2s;
}

.menuItemDetail-XS-options-label {
    padding-left: 10px;
    font-weight: bolder;
    font-size: medium;
    color: white;
}

.menuItemDetail-XS-adjustedCost {
    margin-top: 189px;
    color: black;
    background-color: white;
    font-size: medium;
    font-weight: bolder;
}

.menuItemDetail-XS-btns-block {
    width: 235px;
    height: 55px;
    margin-left: 15px;
    overflow: hidden;
  } */



/* From Commom */
  
/* .menuItemDetail-container {
    width: 645px;   
    height: 510px;
    color: white;
    background-color: black;
}

.menuItemDetail-title {
  padding-top: 8px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  min-height: 30;
}

.menuItemDetail-totals-label {
    color: black;
    background-color: white;
  }

.menuItemDetail-options-scrollview {
  width: 235px;
  height: 310px;
  margin-top: 0px;
  margin-left: 0px;
  direction: rtl;
  position: absolute;
  border-color: transparent;
  overflow-y: overlay;
}

.menuItemDetail-card-selected {
  position: relative;
  height: 54px;
  width: 220px;
  padding-top: 17px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: white;
  background: rgba(241, 226, 7, 0.87);
}

.menuItemDetail-card-not-selected {
  position: relative;
  height: 54px;
  width: 220px;
  padding-top: 17px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: white;
  background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
  background-size: auto 400%;
  background-position: 100% 100%;
  transition: background-position 0.2s;
}

.menuItemDetail-options-label {
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-weight: bolder;
  font-size: larger;
  color: white;
 }

  .menuItemDetail-sub-total-label {
    font-size: medium;
    font-weight: bold;
  }

  .menuItemDetail-sub-total-amount-label {
    font-size: medium;
    font-weight: bold;
  }

  .menuItemDetail-adjustedCost {
    width: 235px;
    margin-top: 330px;
    margin-left: 0px;
    color: black;
    background-color: white;
    font-size: medium;
    font-weight: bolder;
}

.menuItemDetail-btns-block {
  margin-top: 22px;
  width: 235px;
  height: 55px;
  overflow: hidden;
}

.menuItemDetail-cancel-btn {
    width: 50%;
    float: left;
    text-align: center;
    height: 55px;
    font-size: x-large;
    font-weight: bold;
    padding-top: 18px;
    text-align: center;
    color: white;
    background-color: orangered;
}

.menuItemDetail-add-edit-btn {
    width: 50%;
    float: right;
    text-align: center;
    height: 55px;
    font-size: x-large;
    font-weight: bold;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    background-color: green;
} */