<ngx-smart-modal #menuItemDetail [identifier]="'menuItemDetail'"
    customClass="nsm-centered"
    [closable]="false" [dismissable]="true"
    target=".menuItem-modal-anchor"
    (onDismiss)="resetForm()"
>
    <div *ngIf="menuItemDetail.hasData()">
        <div class="menuItemDetail-container">
            <div class="container"> 
                <div class="d-flex justify-content-between">
                    <div class="menuItemDetail-title">{{ menuItemDetail.getData().name }}</div>
                 </div>               
                <div class="d-flex justify-content-center">
                    <div class="row menuItemDetail-options card-container scroll">
                        <div *ngFor="let option of menuItemDetail.getData().menuItemOptions">
                            <div *ngIf="option.isSelected" class="menuItemDetail-card-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                                {{ option.name }}
                            </div>
                            <div *ngIf="!option.isSelected" class="menuItemDetail-card-not-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                                {{ option.name }}
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="menuItemDetail-option-totaler">
                            <div class="d-flex flex-column">
                                <div class="d-flex">
                                   <div class="p-2 flex-fill">Total:</div>
                                   <div class="p-2 mr-auto">{{ menuItemDetail.getData().totalCost }} cr</div>
                                </div>
                             </div>
                         </div>
                    </div> 
                </div>
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="menuItemDetail-submit-btn" role="button" (click)="addMenuItemForCart(menuItemDetail.getData())">Add To Cart</div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>