
.menuItemDetail-XS-container {
    width: 250px;
    height: 500px;
    color: white;
    background-color: black;
}

.menuItemDetail-M-container {
    width: 600px;
    height: 500px;
    color: white;
    background-color: black;
}

.menuItemDetail-L-container {
    width: 650px;
    height: 550px;
    color: white;
    background-color: black;
}

.menuItemDetail-XL-container {
    width: 650px;
    height: 550px;
    color: white;
    background-color: black;
}