
.menuItemDetail-XS-container {
    width: 235px;
    height: 520px;
    color: white;
    background-color: black;
}

.menuItemDetail-container {
    width: 620px;
    height: 510px;
    color: white;
    background-color: black;
}