
.menuItemDetail-container {
    width: 645px;   
    height: 510px;
    color: white;
    background-color: black;
}

.menuItemDetail-title {
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  min-height: 30;
}

.menuItemDetail-totals-label {
    color: black;
    background-color: white;
  }

.menuItemDetail-options-scrollview {
  width: 235px;
  height: 310px;
  margin-top: 0px;
  margin-left: 0px;
  direction: rtl;
  position: absolute;
  border-color: transparent;
  overflow-y: overlay;
}

.menuItemDetail-card-selected {
  position: relative;
  height: 54px;
  width: 220px;
  padding-top: 17px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: white;
  background: rgba(241, 226, 7, 0.87);
}

.menuItemDetail-card-not-selected {
  position: relative;
  height: 54px;
  width: 220px;
  padding-top: 17px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: white;
  background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
  background-size: auto 400%;
  background-position: 100% 100%;
  transition: background-position 0.2s;
}

.menuItemDetail-options-label {
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-weight: bolder;
  font-size: larger;
  color: white;
 }

  .menuItemDetail-sub-total-label {
    font-size: medium;
    font-weight: bold;
  }

  .menuItemDetail-sub-total-amount-label {
    font-size: medium;
    font-weight: bold;
  }

  .menuItemDetail-adjustedCost {
    width: 235px;
    margin-top: 330px;
    margin-left: 0px;
    color: black;
    background-color: white;
    font-size: medium;
    font-weight: bolder;
}

.menuItemDetail-btns-block {
  margin-top: 22px;
  width: 235px;
  height: 55px;
  overflow: hidden;
}

.menuItemDetail-cancel-btn {
    width: 50%;
    float: left;
    text-align: center;
    height: 55px;
    font-size: x-large;
    font-weight: bold;
    padding-top: 18px;
    text-align: center;
    color: white;
    background-color: orangered;
}

.menuItemDetail-add-edit-btn {
    width: 50%;
    float: right;
    text-align: center;
    height: 55px;
    font-size: x-large;
    font-weight: bold;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    background-color: green;
}