<ngx-smart-modal #menuItemDetail [identifier]="'menuItemDetail'"
    customClass="nsm-centered"
    [closable]="false" [dismissable]="true"
    target=".menuItemDetail-modal-anchor"
    (onDismiss)="resetForm()"
>
    <div *ngIf="menuItemDetail.hasData()">
        <div class="menuItemDetail-XS-container">
            <div class="row">
                <div class="col-12">
                    <div class="menuItemDetail-title">{{ menuItemDetail.getData().name }}</div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="menuItemDetail.getData().isShowPic == true">
                    <div class="col-12" (click)="toggleShowPic(menuItemDetail.getData())">
                        <img src="../../../assets/images/menuItem-001.jpg" style="padding-left:5px;width:230px;height:180px;">
                    </div>
                    <div class="menuItemDetail-click-for-pic-or-details">Click Image for Details</div>
                </div>
                <div *ngIf="menuItemDetail.getData().isShowPic == false">
                    <div class="menuItemDetail-XS-Details">
                        <div class="container" (click)="toggleShowPic(menuItemDetail.getData())">
                            <div class="row">
                                <div class="col-6">A</div>
                                <div class="col-6">B</div>     
                            </div>
                            <div class="row">
                                <div class="col-6">C</div>
                                <div class="col-6">D</div>
                            </div>
                            <div class="row">
                                <div class="col-6">E</div>
                                <div class="col-6">F</div>
                            </div>
                            <div class="row">
                                <div class="col-6">G</div>
                                <div class="col-6">H</div>
                            </div>
                            <div class="row">
                                <div class="col-6">I</div>
                                <div class="col-6">J</div>
                            </div>
                            <div class="row">
                                <div class="col-6">K</div>
                                <div class="col-6">L</div>     
                            </div>
                            <div class="row">
                                <div class="col-6">M</div>
                                <div class="col-6">N</div>
                            </div>
                            <div class="row">
                                <div class="col-6">O</div>
                                <div class="col-6">P</div>
                            </div>
                            <div class="row">
                                <div class="col-6">Q</div>
                                <div class="col-6">R</div>
                            </div>
                        </div>
                    </div>
                    <div class="menuItemDetail-click-for-pic-or-details">Click Details for Image</div>
                </div>
            </div>
            <div class="menuItemDetail-XS-options-scrollview">
                <div *ngFor="let option of menuItemDetail.getData().menuItemOptions">
                    <div *ngIf="option.isSelected" class="menuItemDetail-XS-card-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                        {{ option.name }}
                    </div>
                    <div *ngIf="!option.isSelected" class="menuItemDetail-XS-card-not-selected" role="button" (click)="selectedOption(option, menuItemDetail.getData())">
                        {{ option.name }}
                    </div>
                </div>
            </div>
            <div class="menuItemDetail-XS-adjustedCost">
                <div class="d-flex flex-column">
                    <div class="menuItemDetail-totals-label d-flex">
                        <div class="p-2 flex-fill"><div class="menuItemDetail-sub-total-label">Sub Total:</div></div>
                        <div class="p-2 mr-auto"><div class="menuItemDetail-sub-total-amount-label">100.00 cr</div></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="menuItemDetail-XS-btns" role="button" (click)="addMenuItemToCart(menuItemDetail.getData())">Add</div>
                </div>
            </div>
        </div>
        <div class="menuItemDetail-container">
            <div class="container">
                <div class="row">
                <div class="col-6">
                    <div class="row">
                        <h1>Pic</h1>
                    </div>
                    <div class="row">
                        <h1>Description</h1>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <h1>Title</h1>
                    </div>
                    <div class="row">
                        <h1>Options</h1>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>