
.menuItemDetail-XS-container {
    width: 235px;
    height: 511px;
    color: white;
    background-color: black;
}

.menuItemDetail-XS-title {
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: medium;
    font-weight: bolder;
    min-height: 30;
}

.menuItemDetail-XS-Details {
    padding-left: 10px;
    height: 157px;
}

.menuItemDetail-click-for-pic-or-details {
    padding-left: 25px;
    color: rgba(241, 226, 7, 0.87);
    font-size: smaller;
    font-weight: bold;
}

.menuItemDetail-XS-options-scrollview {
    width: 220px;
    height: 172px;
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 0px;
    margin-bottom: 0px;
    direction: rtl;
    position: absolute;
    border-color: transparent;
    overflow-y: overlay;
}

.menuItemDetail-XS-card-selected {
    position: relative;
    height: 52px;
    width: 207px;
    padding-top: 17px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: white;
    background: rgba(241, 226, 7, 0.87);
}

.menuItemDetail-XS-card-not-selected {
    position: relative;
    height: 52px;
    width: 207px;
    padding-top: 17px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color: white;
    background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
    background-size: auto 400%;
    background-position: 100% 100%;
    transition: background-position 0.2s;
}

.menuItemDetail-XS-options-label {
    padding-left: 10px;
    font-weight: bolder;
    font-size: medium;
    color: white;
}

.menuItemDetail-XS-adjustedCost {
    margin-top: 189px;
    color: black;
    background-color: white;
    font-size: medium;
    font-weight: bolder;
}

.menuItemDetail-XS-btns-block {
    width: 235px;
    height: 55px;
    margin-left: 15px;
    overflow: hidden;
  }