<ngx-smart-modal #menuItemDetail [identifier]="'menuItemDetail'"
    customClass="nsm-centered"
    [closable]="false" [dismissable]="true"
    target=".menuItemDetail-modal-anchor"
    (onDismiss)="resetForm()"
>
    <div class="menuItemDetail-XS-container">
        <div class="container">
            <div class="row">
              <div class="col-12">
                    <h1>Title</h1>
              </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1>Pic</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1>Description</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1>Options</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="menuItemDetail-container">
        <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="row">
                    <h1>Pic</h1>
                </div>
                <div class="row">
                    <h1>Description</h1>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                    <h1>Title</h1>
                </div>
                <div class="row">
                    <h1>Options</h1>
                </div>
              </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>