
.menuItemDetail-container {
    width: 650px;   
    height: 510px;
    color: white;
    background-color: black;
}

.menuItemDetail-title {
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  min-height: 30;
}

.menuItemDetail-totals-label {
    color: black;
    background-color: white;
  }

.menuItemDetail-options-scrollview {
  width: 220px;
  height: 300px;
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 0px;
  margin-bottom: 0px;
  direction: rtl;
  position: absolute;
  border-color: transparent;
  overflow-y: overlay;
}

.menuItemDetail-options-label {
  padding-top: 35px;
  padding-left: 15px;
  font-weight: bolder;
  font-size: large;
  color: white;
 }

  .menuItemDetail-sub-total-label {
    font-size: medium;
    font-weight: bold;
  }

  .menuItemDetail-sub-total-amount-label {
    font-size: medium;
    font-weight: bold;
  }

.menuItemDetail-btns-block {
  margin-top: 380px;
  width: 235px;
  height: 55px;
  overflow: hidden;
}

.menuItemDetail-cancel-btn {
    width: 50%;
    float: left;
    text-align: center;
    height: 55px;
    font-size: x-large;
    font-weight: bold;
    padding-top: 18px;
    text-align: center;
    color: white;
    background-color: orangered;
}

.menuItemDetail-add-edit-btn {
    width: 50%;
    float: right;
    text-align: center;
    height: 55px;
    font-size: x-large;
    font-weight: bold;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    background-color: green;
}