<div class="container">
    <div class="row" *ngIf="manager">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            {{ manager.name }}
          </div>
          <div class="card-body">
              <div class="pull-left">
                  <div class="card-body-content">Address</div>
              </div>
              <div class="pull-left">
                  <div class="card-body-content">Phone</div>
              </div>
              <div class="pull-left">
                  <div class="card-body-content">Age</div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>