<div class="managers view">
    <div class="container">
        <header>
            <br>
            <h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Manager Information</h3>
        </header>
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="toolbar-item">
                    <a routerLink="details" routerLinkActive="active">
                       <span class="glyphicon glyphicon-list"></span>Manager Details
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <router-outlet></router-outlet>
            <a routerLink="/managers">View all Managers</a>
        </div>
    </div>
</div>






