.background {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    z-index: 2;
    background-size: cover;
    display: flex;
    background-image: url("../../../assets/images/starwars-shady-bg.jpg");
}

.manager-info-header {
    font-weight: bold;
    font-size: medium;
    margin-top: 7px;
}

a {
    color: rgba(241, 226, 7, 0.87);
    font-weight: bold;
    font-size: smaller;
}
a.hover {
    color: rgba(241, 226, 7, 0.87);
    font-weight: bold;
    font-size: smaller;  
}
a.select {
    color: rgba(241, 226, 7, 0.87);
    font-weight: bold;
    font-size: smaller;
}
