.background-M-container {
  color: white;
  background: transparent;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.menu-M-scrollview {
  display: grid;
  padding-right: 3px;
  direction: ltr;
  grid-template-rows: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-M-scrollview .button-M-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  height: 700px;
  width: auto;
}

.category-M-column {
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: x-large;
  font-weight: bolder;
}

.card-title {
  font-size: medium;
  font-weight: bolder;
  margin-left: 15px;
  margin-right: 15px;
}

.card-details {
  font-size: small;
  font-weight: bolder;
  margin-left: 15px;
  margin-right: 15px;
}

.card-price {
  font-size: small;
  font-weight: bolder;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.copywrite-lable {
  font-size: small;
  font-weight: bolder;
}