<category-filter-modal></category-filter-modal>
<div class="category-modal-anchor"></div>
<menu-item-detail-modal></menu-item-detail-modal>
<div class="menuItem-modal-anchor"></div>
<cart-modal></cart-modal>
<div class="cart-modal-anchor"></div>

<div class="home-container">
  <div class="d-flex justify-content-center background">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="home-header">
          <div role="button" (click)="openCategoryFilterModal()">
              <img class="filter-icon" src="../../../assets/images/home-filter.png">
          </div>
        </div>
        <div class="d-flex justify-content-end"> 
          <div role="button" (click)="openCartModal()">
            <span class="badge badge-pill badge-bgcolor">
              <div class="cart-counter-placeholder" *ngIf="getCartCounter == 0"></div>
              <div class="cart-counter" *ngIf="getCartCounter > 0">{{ getCartCounter }}</div>
              <img class="cart-icon" src="../../../assets/images/home-cart.png">
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <div class="d-flex justify-content-start">
          <div class="manufacturer-list">
            <div class="row card-container manufacturer-scroll">
              <div *ngFor="let manufacturer of getManufacturers">
                  <div *ngIf="manufacturer.isSelected" class="manufacturer-card-selected" role="button" (click)="SetSelectedManufacturer(manufacturer.name)">
                      {{ (manufacturer.name.length > 6)? (manufacturer.name | slice:0:17) + '...' : (manufacturer.name) }}
                  </div>
                  <div *ngIf="!manufacturer.isSelected" class="manufacturer-card-not-selected" role="button" (click)="SetSelectedManufacturer(manufacturer.name)">
                    {{ (manufacturer.name.length > 6)? (manufacturer.name | slice:0:17) + '...' : (manufacturer.name) }}
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="menuItem-cards">
            <div class="container menuItems-scroll">
              <div class="card-columns">
                <div class="card" *ngFor="let item of getMenuItemsPerManufacturer" role="button">
                  <div class="menuItem-card">
                    <p class="menuItem-card-header-text text-center">{{ item.name }}</p>
                    <div class="menuItem-card-text">
                      <p>Cost: {{ item.cost }}</p>
                      <p>Crew: {{ item.crew }}</p>
                      <p>Passengers: {{ item.passengers }}</p>
                    </div>
                    <div class="text-right">
                      <button type="button" class="btn" (click)="openMenuItemDetailModal(item)">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO - I should have built each page with a header, body, and footer.  This div belongs in the footer of every page -->
      <!-- <div class="d-flex justify-content-center">
        <div class="copywrite-label">{{copywriteInfo}}</div>
      </div> -->
    </div>
  </div>
</div>