<category-filter-modal></category-filter-modal>
<div class="category-modal-anchor"></div>
<menu-item-detail-modal></menu-item-detail-modal>
<div class="menuItem-modal-anchor"></div>
<cart-modal></cart-modal>
<div class="cart-modal-anchor"></div>

<div class="home-container">
  <div class="d-flex justify-content-center background">
    <div class="container">

  <!-- 
      <div class="row">
        <div id="flyover-notification-XS" [hidden]="nextNotification === null" class="flyover-XS">
          <div class="row">
            <div class="col-2">
              <div class="flyover-XS-info-image">
                <img src="../../assets/images/home-notification-info.png" style="width:15px;height:15px;">
              </div>
            </div>
            <div class="col-10">    
              <div class="flyover-XS-info-text">
                {{ nextNotification }}
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="d-flex justify-content-between">
        <div class="home-header">
          <div role="button" (click)="openCategoryFilterModal()">
            <img class="filter-icon" src="../../../assets/images/home-filter.png">
          </div>
        </div>
        <div class="d-flex justify-content-end"> 
          <div role="button" (click)="openCartModal()">
            <span class="badge badge-pill badge-bgcolor">
              <div class="cart-counter" *ngIf="getTicketCounter > 0">{{ getTicketCounter }}</div>
              <img class="cart-icon" src="../../../assets/images/home-cart.png">
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
          <div class="p-2">
            <h3>Categories</h3>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="p-2">
            <div class="row card-container scroll">
              <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let item of getMenuItemDetailsPerCategory" role="button">
                <div class="card mb-2">
                  <div class="card-header">
                    Some Very Cool Title
                  </div>
                  <div class="card-body">
                    <div class="pull-left card-body-left">
                      <div class="card-body-content">Some very cool details to read and admire.  
                        Hopefully encouraging you to buy our product.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!getMenuItemDetailsPerCategory.length">
                No Records Found
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="copywrite-label">{{copywriteInfo}}</div>
      </div>
    </div>
  </div>
</div>