.background-M-container {
  color: white;
  background: transparent;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.menu-M-scrollview {
  display: grid;
  padding-right: 3px;
  direction: ltr;
  grid-template-rows: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-M-scrollview .button-M-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  height: 700px;
  width: auto;
}

.category-M-column {
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: x-large;
  font-weight: bolder;
}

.menu-M-card {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  border-style: none;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(grey, rgba(153, 153, 153, 0.3));
  background-size: auto 400%;
  background-position: 100% 100%;
  transition: background-position 0.1s;
}

.card-M-title {
  font-size: medium;
  font-weight: bolder;
  margin-left: 15px;
  margin-right: 15px;
}

.card-M-details {
  font-size: small;
  font-weight: bolder;
  margin-left: 15px;
  margin-right: 15px;
}

.card-M-price {
  font-size: small;
  font-weight: bolder;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.copywrite-lable {
  font-size: small;
  font-weight: bolder;
}