.flyover {
    height: 72px;
    margin-left: 78px;
    margin-top: -300px;
    margin-right: -25px;
    overflow: hidden;
    position: fixed;
    background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
    background-size: auto 400%;
    background-position: 100% 100%;
    transition: background-position 0.2s;
    width: 320px;
    transition: all 1s ease;
  }
  .flyover.ease-down {
    margin-top: -80px;  
  }
  .flyover.ease-up {
    margin-top: -300px;
  }
  .flyover-info-image {
    padding-top: 30px;
    padding-left: 15px;
  }
  
  .flyover-info-text {
    width: auto;
    height: 32px;
    padding-top: 32px;
    margin-left: -12px;
    color: rgba(241, 226, 7, 0.87);
    font-size: medium;
    font-weight: bolder;
    }

.filter-icon {
    margin-top: 3px;
    margin-left: 10px;
}
  
.cart-icon {
    margin-top: 7px;
    margin-right: 10px;
}

.cart-counter {
    margin-top: 3px;
    top: -10px;
    right: 24px;
    color: rgba(241, 226, 7, 0.87);
    font-size: medium;
    font-weight: bold;
    position: absolute;
  }

.categoryFilter-modal-anchor {
    position: absolute;
    top: 0%;
    left: 19%;
}

.menu-card {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    border-style: none;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(grey, rgba(153, 153, 153, 0.3));
    background-size: auto 400%;
    background-position: 100% 100%;
    transition: background-position 0.1s;
}

.menuItemDetail-modal-anchor {
    position: absolute;
    top: 15%;
    left: 50%;
    margin: -25px 0 0 -25px; 
    /* apply negative top and left margins to truly center the element */
}

.cart-modal-anchor {
    position: absolute;
    top: 0%;
    right: 22%;
}