.home-header {
  font-weight: bold;
  font-size: medium;
  margin-top: 7px;
}

.filter-icon {
  margin-left:10px;
  margin-top:17px;
  width:32px;
  height:37px;
}

.cart-counter-placeholder {
  margin-top: 23px;
}

.cart-counter {
  margin-top: 7px;
  margin-left: -4px;
  color: rgba(241, 226, 7, 0.87);
  font-size: medium;
  font-weight: bold;
}

.cart-icon {
  margin-top: -2px;
  margin-right: 10px;
  width:35px;
  height:40px;
}

.badge-bgcolor {
  background-color: transparent;
}

.home-card-header-text {
  font-weight: bold;
  font-size: small;
}

.home-card-body-text {
  font-weight: normal;
  font-size: small;
}

.manufacturer-list {
  width: 163px;
  height: 400px;
  padding-left: 14px;
  padding-top: 8px;
  padding-right: 8px;
}

.manufacturer-card-selected {
  height: 39px;
  width: 142px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: small;
  color: black;
  background: rgba(241, 226, 7, 0.87);
}

.manufacturer-card-not-selected {
  height: 39px;
  width: 142px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: small;
  color: white;
  background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
  background-size: auto 400%;
  background-position: 100% 88%;
  transition: background-position 0.2s;
}

.menuItem-cards {
  padding-top: 8px;
}

.menuItem-card-header-text {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  font-size: small;
}

.menuItem-card-text {
  display: block;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: x-small;
}

.btn {
  background: rgba(241, 226, 7, 0.87);
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: small;
  color: black;
}

.card, .card-body, .card-hearder, .list-group-item { 
  background-color: transparent;
}

.card  {
  border-top: 1px solid rgba(241, 226, 7, 0.87);
  border-left: 1px solid rgba(241, 226, 7, 0.87);
  border-right: 1px solid rgba(241, 226, 7, 0.87);
  border-bottom: 1px solid rgba(241, 226, 7, 0.87);
  background: rgba(241, 226, 7, 0.03);
}

.copywrite-label {
  padding-top: 20px;
  color: white;
  font-size: small;
}