.background-XS-container {
    color: white;
    background: transparent;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.menu-XS-scrollview {
    display: grid;
    padding-right: 3px;
    direction: ltr;
    grid-template-rows: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-XS-scrollview .button-XS-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    height: 400px;
    width: auto;
}

.category-XS-column {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: large;
    font-weight: bolder;
}

.copywrite-lable {
    font-size: small;
    font-weight: bolder;
    }