.flyover-XL {
  height: 72px;
  margin-left: 10px;
  margin-top: -300px;
  margin-right: -25px;
  overflow: hidden;
  position: fixed;
  background-image: linear-gradient(grey, rgba(12, 12, 12, 0.6));
  background-size: auto 400%;
  background-position: 100% 100%;
  transition: background-position 0.2s;
  width: 320px;
  transition: all 1s ease;
}
.flyover-XL.ease-down {
  margin-top: -80px;  
}
.flyover-XL.ease-up {
  margin-top: -300px;
}
.flyover-XL-info-image {
  padding-top: 30px;
  padding-left: 15px;
}

.flyover-XL-info-text {
  width: auto;
  height: 32px;
  padding-top: 31px;
  margin-left: -12px;
  color: rgba(241, 226, 7, 0.87);
  font-size: medium;
  font-weight: bolder;
  }

.background-XL-container {
  color: white;
  background: transparent;
  width: 90%;
  margin-right: 10%;
  margin-left: 10%;
}

.menubar-XL-label {
  color: white;
  font-size: larger;
  font-weight: bolder;
}

.menu-XL-scrollview {
  display: grid;
  padding-right: 3px;
  direction: ltr;
  grid-template-rows: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-XL-scrollview .button-XL-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0.8rem;
  grid-row-gap: 0.8rem;
  height: 558px;
  width: auto;
}

.category-XL-column {
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: x-large;
  font-weight: bolder;
}

.card-title {
  font-size: medium;
  font-weight: bolder;
  margin-left: 15px;
  margin-right: 15px;
}

.card-details {
  font-size: small;
  font-weight: bolder;
  margin-left: 15px;
  margin-right: 15px;
}

.card-price {
  font-size: small;
  font-weight: bolder;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.filter-XL-icon {
  font-size: medium;
  font-weight: bolder;
  margin-left: 2px;
}

.cart-XL-icon {
  font-size: medium;
  font-weight: bolder;
  margin-right: 2px;
  }

.copywrite-lable {
  font-size: small;
  font-weight: bolder;
}